management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: always


spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
          #compillations
        - id: admin_compilations
          uri: lb://EVENT-SERVICE
          predicates:
            - Path=/admin/compilations,/admin/compilations/**

        - id: public_compilations
          uri: lb://EVENT-SERVICE
          predicates:
            - Path=/compilations,/compilations/**
          #requests
        - id: user_requests_operations
          uri: lb://REQUEST-SERVICE
          predicates:
            - Path=/users/*/requests,/users/*/requests/**

        - id: event_requests_operations
          uri: lb://REQUEST-SERVICE
          predicates:
            - Path=/users/*/events/*/requests,/users/*/events/*/requests/**

        - id: admin_confirmed_single
          uri: lb://REQUEST-SERVICE
          predicates:
            - Path=/admin/confirmed/{eventId}

        - id: admin_confirmed_multiple
          uri: lb://REQUEST-SERVICE
          predicates:
            - Path=/admin/confirmed

          #events
        - id: admin_event
          uri: lb://EVENT-SERVICE
          predicates:
            - Path=/admin/events,/admin/events/**

        - id: private_event
          uri: lb://EVENT-SERVICE
          predicates:
            - Path=/users/*/events,/users/*/events/**

        - id: public_event
          uri: lb://EVENT-SERVICE
          predicates:
            - Path=/events,/events/**
        
        #categories
        - id: admin_category
          uri: lb://EVENT-SERVICE
          predicates:
            - Path=/admin/categories,/admin/categories/**

        - id: public_category
          uri: lb://EVENT-SERVICE
          predicates:
            - Path=/categories,/categories/**

        #user
        - id: admin_users_operations
          uri: lb://USER-SERVICE
          predicates:
            - Path=/admin/users,/admin/users/**

        #comments


        - id: admin_comment_search
          uri: lb://COMMENT-SERVICE
          predicates:
            - Path=/admin/comments/search

        - id: admin_comment_approve
          uri: lb://COMMENTS-SERVICE
          predicates:
            - Path=/admin/comments/*/approve

        - id: admin_comment_reject
          uri: lb://COMMENTS-SERVICE
          predicates:
            - Path=/admin/comments/*/reject

        - id: admin_comment_operations
          uri: lb://COMMENTS-SERVICE
          predicates:
            - Path=/admin/comments,/admin/comments/**

        - id: admin_user_comments
          uri: lb://COMMENTS-SERVICE
          predicates:
            - Path=/admin/users/*/comments

        - id: private_comment_create
          uri: lb://COMMENTS-SERVICE
          predicates:
            - Path=/users/*/events/*/comments

        - id: private_comment_operations
          uri: lb://COMMENTS-SERVICE
          predicates:
            - Path=/users/*/comments,/users/*/comments/**

        - id: public_comment_single
          uri: lb://COMMENTS-SERVICE
          predicates:
            - Path=/comments/*

        - id: public_comment_event
          uri: lb://COMMENTS-SERVICE
          predicates:
            - Path=/events/*/comments,/events/*/comments/**





