logging:
  level:
    org:
      springframework:
        web: INFO
        validation: INFO

spring:
  application:
    name: stats-server
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/stat_db
    username: postgres
    password: "12345"